* {
    text-decoration: none;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #d6c7b2;
    display: flex;
    align-items: center;
    text-align: center;
    place-items: center;
    overflow: hidden;
    font-family: sans-serif;
}

.content {
    width: 350px;
    height: 520px;
    background: #e5cc96;
    /* 盒子内边距 */
    padding: 40px;
    /* 四角边缘圆滑度 */
    border-radius: 20px;
    /* box-sizing: border-box就是将border和padding数值包含在width和height之内，
    这样的好处就是修改border和padding数值盒子的大小不变 */
    box-sizing: border-box;
    /* 盒子阴影 */
    box-shadow: 14px 14px 20px #71838f, -14px -14px 20px #f5e5d2;
    /* 绝对定位 */
    position: absolute;
    /* 居中显示 */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.logo {
    width: 100px;
    height: 100px;
    background-size: 160px;
    background-position: -30px;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 7px 7px 10px #71838f, -7px -7px 10px #e8eadc;
}

.icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.title {
    margin-top: 10px;
    font: 900 1.6rem 雅黑;
    color: #71838f;
    letter-spacing: 1px;
}
/* 输入部分 */
.input {
    text-align: left;
    /* 据上面的距离 */
    margin-top: 30px;
}

label,
input,
button {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

label {
    margin-bottom: 5px;
    font-size: 16px;
    margin-top: 14px;
}

input {
    background: #e8eadc;
    padding: 10px;
    padding-left: 20px;
    font-size: 14px;
    border-radius: 50px;
    height: 50px;
    box-shadow: inset 6px 6px 6px #71838f, inset -6px -6px 6px #fdf7ef;
}

input::placeholder {
    color: #71838f;
}

button {
    background: #d6c7b2;
    height: 30px;
    margin-top: 20px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 800;
    font-family: sans-serif;
    letter-spacing: 1px;
    box-shadow: 6px 6px 6px #71838f, -6px -6px 6px #f3e6c8;
}

/* 点击阴影消除 */
button:hover {
    box-shadow: none;
}

.line {
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 0.1px;
    font-family: sans-serif;
}
